<div class="row">
    <div class="col-md-8">

        <div ng-if="!users">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading...
        </div>

        <div class="list-group">

            <a href="#!/users/{{singleUser.id }}" class="list-group-item" ng-if="users" ng-repeat="singleUser in users">

                <h4>
                    {{singleUser.username | uppercase }}
                </h4>

                <p>
                    {{singleUser.name }}
                </p>

            </a>
        </div>

    </div>
    <div class="col-md-4">
        
        <div ng-if="!posts">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading...
        </div>

        <div class="list-group" ng-if="posts">
            <div class="list-group-item" ng-repeat="singlePost in posts">

                <p>
                    {{singlePost.title }}
                </p>

                </a>
            </div>

        </div>
    </div>